.flying{
    background-color: #81B9EF;
}

.poison{
    background-color: #9142CB;
}

.bug{
    background-color: #91A219;
}

.fire{
    background-color: #E6282A;
}

.ground{
    background-color: #915120;
}

.rock{
    background-color: #AFA981;
}

.water{
    background-color: #2980EF;
}

.electric{
    background-color: #FAC001;
}

.steel{
    background-color: #60A1B8;
}

.dark{
    background-color: #624D4E;
}

.dragon{
    background-color: #5061E1;
}

.psychic{
    background-color: #EE4179;
}

.normal{
background-color: #9FA19F;
}

.ice{
    background-color: #3CCEF3;
}
.ghost{
    background-color: #6F4170;
}

.fighting{
    background-color: #FF8001;
}

.fairy{
    background-color: #EF70EF;
}

.bird{
    background-color: #69A090;
}
.grass{
    background-color: #3FA129;
}